:root {
    --pomodoroColor: #E65100;
    --shorBreakColor: #00BCD4;
    --longBreakColor: #2196F3;
    --textColor: #616161;
  }


  * {
    padding:0;
    margin:0;
    list-style:none;
    border:0;
    box-sizing: border-box
    }

body, ul, li, p {
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.button {
    cursor: pointer;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap; 
    width: 650px;
    height: 100px;
    background-color: lawngreen;
}


.menu {
    display: flex;
}

.menu span {
    padding: 20px;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 485px;
    height: 300px;
    background-color: var(--pomodoroColor);
    margin-top: 50px;
    box-shadow: 5px 5px 5px #BDBDBD;
    border-radius: 10px;
    padding-bottom: 14px;
    padding-top: 10px;
}

.btn-tt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.btn-tt div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    width: 25%;
    height: 40px;
    vertical-align: text-bottom;
}
.btn-tt div span {
    text-align: center;
}




@media only screen and (min-width:485px) and (max-width:650px) {
    .header {
        width: 100vw;
        background-color: lightblue;
    }
    .app {
        width: 100vw;
    }
    .text{
        width: 100vw;
    }
    .footer {
        width: 100vw;
    }   
}

@media only screen and (max-width:485px) {
    .header {
        width: 100vw;
        background-color: lightblue;
        flex-direction: column;
    }
    .timer {
        width: 100vw;
    }
    .msg {
        width: 100vw;
    }
    .task-list {
        width: 100vw;
    }
    .app {
        width: 100vw;
    }
    .text{
        width: 100vw;
    }
    .footer {
        width: 100vw;
    }


}
